#page {
    width: 1200px;
    height: 680px;
    margin: auto;
}

#header {
    display: block;
    position: relative;
    margin-top: 5px;
    width: 1200px;
    height: 60px;
    background-color: #344189;
    border-radius: 5px 5px 0 0;
}

#logo {
    display: block;
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
    float: left;
}

#info {
    display: block;
    position: relative;
    float: right;
}

#name {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    color: #fff;
    font-weight: 700;
    font-size: medium;
}

#avatar {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-top: 5px;
    float: right;
}

#photo {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 50%;
}

#button {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-top: 12px;
    float: right;
}

#container {
    display: block;
    position: relative;
    width: 1200px;
    height: 550px;
    border: 1px solid #7c7c7c;
}

#viewport {
    display: block;
    position: fixed;
    top: 67px;
    width: 1190px;
    height: 540px;
    float: left;
}

#follow {
    display: none;
    position: absolute;
    width: 1200px;
    height: 500px; 
}

#followed {
    display: block;
    position: relative;
    float: left;
    padding-left: 15px;
    width: 300px;
    height: 500px; 
}

#followed2 {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 500px; 
}

#followes {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 500px; 
}

#followes2 {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 500px; 
}

#matrix {
    display: none;
    padding-left: 15px;
    font-size: 5px;
    position: relative;
    width: 1200px;
    height: 500px; 
}

#graph {
    display: block;
    position: relative;
    width: 1200px;
    height: 580px; 
}

#footer {
    display: block;
    position: absolute;
    left: 100;
    width: 1200px;
    height: 40px;
    background-color: #3e3e3e;
}

#alg{
    position: absolute;
    width: 600px;
    left: 100;
}
#res{
    position: absolute;
    width: 600px;
    left: 600px;
}
.navigation {
    display: block;
    position: absolute;
    float: left;
    padding-top: 8px;
    text-align: center;
    color: #fff;
    width: 400px;
    height: 40px;
}

.navigation:hover {
    background-color: #000;
}

#modal-1 {
    margin-top: 100px;
}

.modal-header {
    height: 65px;
    padding-top: 0;
    background-color: #344189;
}

#logo {
    text-align: center;  
}

.modal-body {
    margin-top: 60px;
    height: 150px;
}

#inputUsername {
    margin-left: 20px;
    width: 400px;
}

.modal-footer {
    height: 70px;
}

scss.centered, #spin-wrap, #spin:after {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
 
scss.round, #spin-wrap, #spin:after {
 border-radius: 50%;
}
 
@keyframes spin {
 0% {
 transform: rotate(90deg);
 }
 
100% {
 transform: rotate(-270deg);
 }
}
 
@keyframes reset {
 0% {
 transform: translate(-50%, -50%) rotate(-90deg);
 }
 
100% {
 transform: translate(-50%, -50%) rotate(270deg);
 }
}

body {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background: #fff;
} 

#fountainG{
	position:absolute;
    bottom: 300px;
    left: 550px;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}