#page {
    width: 1200px;
    height: 1000px;
    margin: auto;
}

#header {
    display: block;
    position: relative;
    margin-top: 5px;
    width: 1200px;
    height: 60px;
    background-color: #344189;
    border-radius: 5px 5px 0 0;
}

#logo {
    display: block;
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
    float: left;
}

#info {
    display: block;
    position: relative;
    float: right;
}

#name {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    color: #fff;
    font-weight: 700;
    font-size: medium;
}

#avatar {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-top: 5px;
    float: right;
}

#photo {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 50%;
}

#button {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-top: 12px;
    float: right;
}

#container {
    display: block;
    position: relative;
    width: 1200px;
    height: 540px;
    border: 1px solid #7c7c7c;
}

#follow {
    display: none;
    position: relative;
    width: 1200px;
    height: 500px; 
}

#followed {
    display: block;
    position: relative;
    float: left;
    padding-left: 15px;
    width: 300px;
    height: 500px; 
}

#followed2 {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 500px; 
}

#followes {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 500px; 
}

#followes2 {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 500px; 
}

#matrix {
    display: none;
    position: relative;
    width: 1200px;
    height: 500px; 
}

#graph {
    display: none;
    position: relative;
    width: 1200px;
    height: 500px; 
}

#footer {
    display: block;
    position: relative;
    width: 1200px;
    height: 40px;
    background-color: #3e3e3e;
}

.navigation {
    display: block;
    position: relative;
    float: left;
    padding-top: 8px;
    text-align: center;
    color: #fff;
    width: 400px;
    height: 40px;
}

.navigation:hover {
    background-color: #000;
}

#modal-1 {
    margin-top: 100px;
}

.modal-header {
    height: 65px;
    padding-top: 0;
    background-color: #344189;
}

#logo {
    text-align: center;  
}

.modal-body {
    margin-top: 60px;
    height: 150px;
}

#inputUsername {
    margin-left: 20px;
    width: 400px;
}

.modal-footer {
    height: 70px;
}